extends ./layout

block head
    link(href="http://192.168.1.180:8081/css/dark.css?1098", rel="stylesheet")
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js")    

block content
    #subMenu
        span
            a.btn(href="/addShow")
                | Add show
            a.btn(href="/postProcess")
                | Post processing
            a.btn(href="/updatePLEX")
                | Update PLEX
            a.btn(href="/manageTorrents")
                | Manage Torrents
            a.btn(href="/restart")
                | Restart
            a.btn(href="/shutdown")
                | Shutdown
    table#shows.tablesorter
        thead
            tr
                th Next ep
                th Show
                th Network
                th Quality
                th Downloads
                th Active
                th Status
        tbody
            each show in shows
                tr
                    td(align="center") #{show.airDayOfWeek} @ #{show.airTime}
                    td(align="center")
                        span(style="display:none;") #{show.title}
                        .imgbanner.banner
                            a(href='/show/' + show.seriesId)
                                img(src="/showBanner/" + show.seriesId, title=show.title).banner
                    td(align="center") #{show.network}
                    td(align="center") #{show.quality}
                    td(align="center") #{show.downloadsDone} + #{show.downloadsPending}/#{show.episodes}
                    td(align="center") #{show.active}
                    td(align="center") #{show.status}
